<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFL3-0706012110033-Bryan_Anthony.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04382ABD29EAF7F0001626FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04382AC229EAF7F0001626FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04382AD429EAF7F1001626FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04382ADE29EAF7F2001626FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04725DD529E649F3006068E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04725DE529E649F5006068E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04725DEF29E649F5006068E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
